.Header{
    width: 100%;
    background-color:white;
}

.navbar-inverse{
    background-color: white;
    border-color: white;
}

.navbar-inverse .navbar-nav>li>a{
    color:#00994d;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: grey;
    background-color: white;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    color: grey;
    background-color: white;
}

.navbar-inverse .navbar-brand{
    color: #00994d;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #00994d;
}

.navbar-toggle{
    background-color: #00994d;
}