.footer{
    background-color: white;
    min-height: 25px;
    font-size: 16px;
    color: #00994d;
    font-weight: bold;
}

.copyright{
    text-align: center;
}

.social{
    text-align: center;
}

.icons{
    margin-left: 12px;
    cursor: pointer;
}